<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.SnowVolf.pcompiler">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For properly handle app update installation -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <activity android:name=".ui.activity.TabbedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/activity_settings" />
        <activity
            android:name=".ui.activity.RegexpActivity"
            android:label="Regexp"
            android:parentActivityName=".ui.activity.TabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.SnowVolf.pcompiler.ui.activity.TabbedActivity" />
        </activity>
        <activity android:name=".ui.activity.BaseActivity" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.activity.TabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.SnowVolf.pcompiler.ui.activity.TabbedActivity" />
        </activity>
        <activity android:name=".ui.activity.HelpActivity"/>
    </application>
</manifest>